{% load static %}
<script src="{% static 'index/js/modernizr-3.11.2.min.js' %}"></script>
<script src="{% static 'index/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'index/js/bootstrap.bundle-5.3.2.min.js' %}"></script>
<script src="{% static 'index/plugin/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'index/plugin/timer/timer.js' %}"></script>
<script src="{% static 'index/plugin/go-to-top/script.js' %}"></script>
<script src="{% static 'index/plugin/rasta-contact/script.js' %}"></script>
<script src="{% static 'index/js/swiperInit.js' %}"></script>
<script src="{% static 'index/js/megaMenu.js' %}"></script>
<script src="{% static 'index/js/app.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'myassets/myjs/notification.js' %}"></script>

<!-- initial config contact button  -->
<script>
    $('#btncollapzion').Collapzion({
        _child_attribute: [{
                'label': 'پشتیبانی تلفنی',
                'url': 'tel:09369448177',
                'icon': 'bi bi-telephone'
            },
            {
                'label': 'پشتیبانی تلگرام',
                'url': "https://t.me/Dr_mahdi_nouri1984",
                'icon': 'bi bi-telegram'
            },
            
            {
                'label': 'پشتیبانی واتس آپ',
                'url': 'https://wa.me/09369448177',
                'icon': 'bi-whatsapp'
            },
            
            {
                'label': 'پشتیبانی روبیکا',
                'url': 'https://rubika.ir/DrMahdiNouri1984',
                'icon': 'bi bi-pencil-fill'
            },

            {
                'label': 'اینستاگرام',
                'url': 'https://www.instagram.com/mahdiss.onlineshop?igsh=MTVubmg2eXlidjdvaA==',
                'icon': 'bi bi-instagram',
            },

        ],
    });
</script>