{% load static %}
<!DOCTYPE html>
<html lang="fa_IR" dir="rtl">
    <head>
        <title>{{ title }}</title>
        {% include 'shared_site/_HeaderRefrences.html' %}
        {% block Header_ref %}
        {% endblock %}
    </head>
    <body class="dark_back_color">
        {% include 'shared_site/header_component.html' %}
        {% block content %}{% endblock %}
        {% include 'shared_site/footer_component.html' %}
        {% include 'shared_site/_FooterRefrences.html' %}
        {% block Footer_ref %}{% endblock %}
    </body>
</html>